
body{
    background-color:rgb(248, 171, 214);
}
button{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}
.b1{
    background:rgb(101, 231, 248);
    box-shadow: 0 8px rgb(58, 143, 136);
    padding: 16px 32px;
}
button:active{
    background:rgb(230, 90, 9);
    box-shadow: 0 4px rgb(184, 50, 1);
}

button:hover{
    background:rgb(161, 4, 83);
    box-shadow: 0 9px rgb(83, 1, 1);
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(113, 14, 179);
}
.parent{
    font-family: "Yellowtail";
    margin: 0 80px;
    padding:20px 0;
    text-align: center;
    background-color: rgb(250, 131, 198);
    border-radius: 10px 30px 10px 10px;
}
.c1{
    margin-top: 30px;
}
.c2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 174, 209);
    margin:30px 70px;
    border-radius:10px;
    
}
footer{
    text-align: center;
    position: absolute;
    width: 90%;
    left:5%;
    bottom: 0px;
    padding-bottom: 20px;
    background-color:  rgb(248, 131, 197);
    border-radius: 15px 15px 0px 0px;
}
.footer{
    display: flex;
    justify-content: space-around;
}
    .fbutt{
    
    box-shadow: 0 8px rgb(172, 32, 160);
    background-color: rgb(204, 60, 185);
    padding:3px 80px;
    color: rgb(44, 6, 44);
}
