
body{
    background-color:rgb(248, 171, 214);
    color:rgb(60, 20, 10);
    margin: 0;
}
button{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}
.c1 button{
  margin: 0 1% 0 1%;
}
.b1{
    background:rgb(101, 231, 248);
    box-shadow: 0 8px rgb(58, 143, 136);
    padding: 1% 2%;
}
.b2{
  background:rgb(40, 180, 60);
  box-shadow: 0 8px rgb(58, 143, 136);
  padding: 1% 2%;

}
button:active{
    background:rgb(230, 90, 9);
    box-shadow: 0 4px rgb(184, 50, 1);
}

button:hover{
    background:rgb(161, 4, 83);
    box-shadow: 0 9px rgb(83, 1, 1);
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(113, 14, 179);
}
.p1{
    font-family: "Yellowtail";
    margin: 0 10%;
    padding:2% 0;
    text-align: center;
    background-color: rgb(250, 131, 198);
    border-radius: 30px;
    max-height: 30%;
}
.titgrand{

  font-size: 5%;
  font-style: italic;
}
.c1{
    margin-top: 2%;
    padding: 2% 0 3% 0;
    margin: 2%;
}
.c2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 174, 209);
    margin:1% 2%;
    border-radius:15px;

}
.para1{
margin:4% 8%;

}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    background-color:  rgb(248, 131, 197);
    border-radius: 15px 15px 0 0;
}
.footerc{
  /*background-color:  rgb(238, 121, 187);*/
    display: flex;
    justify-content: space-around;
    margin:1% 3% 2%;
    padding: 0.1% 0 1%;
    border-radius: 8px;
}
    .fbutt{

    box-shadow: 0 8px rgb(172, 32, 160);
    background-color: rgb(204, 60, 185);
    padding:0.5% 4%;
    color: rgb(44, 6, 44);
}
